{ 
  "Environment": "PrePROD",
  "TargetServer": "IMDGNDWSQLP79\\DEPLPROD",
  "Servers": [
    {
      "ServerName": "IMDGNDWSQLP79\\DEPLUAT",
      "Databases": [
       {
          "Name": "ETLConfig",
          "NewName": "ETLConfig",
          "Action": "DetachAttach"
        },
        {
          "Name": "ETLAudit",
          "NewName": "ETLAudit",
          "Action": "DetachAttach"
        },
        {
          "Name": "ETLStaging",
          "NewName": "ETLStaging",
          "Action": "DetachAttach"
        }
      ]
    },
	{
	  "ServerName": "IMDGNDWSQLP78",
      "Databases": [
        {
          "Name": "backdate",
          "NewName": "backdate",
          "Action": "DetachAttach"
        },
		{
          "Name": "BORAT",
          "NewName": "BORAT",
          "Action": "DetachAttach"
        },
		{
          "Name": "BORE",
          "NewName": "BORE",
          "Action": "DetachAttach"
        },
		{
          "Name": "BORIS",
          "NewName": "BORIS",
          "Action": "DetachAttach"
        },
		{
          "Name": "BORIS_ARCHIVE",
          "NewName": "BORIS_ARCHIVE",
          "Action": "DetachAttach"
        },
		{
          "Name": "CrossJoin",
          "NewName": "CrossJoin",
          "Action": "DetachAttach"
        },
        {
          "Name": "Staging",
          "NewName": "Staging",
          "Action": "DetachAttach"
        }
	  ]
	},
	{
	  "ServerName": "IMDGNDWSQLP76",
      "Databases": [
        {
          "Name": "MstrWork",
          "NewName": "MstrWork",
          "Action": "DetachAttach"
        }
	  ]
	},
	{
	  "ServerName": "IMDGNDWSQLP77",
      "Databases": [
        {
          "Name": "AGA",
          "NewName": "AGA",
          "Action": "DetachAttach"
        },
		{
          "Name": "Ops",
          "NewName": "Ops",
          "Action": "DetachAttach"
        },
		{
          "Name": "OpsStaging",
          "NewName": "OpsStaging",
          "Action": "DetachAttach"
        }
	  ]
	}
  ]
}