{ 
  "Environment": "PreUAT",
  "TargetServer": "IMDGNDWSQLP79\\DEPLPRODEXT",
  "Servers": [
    {
      "ServerName": "IMDGNDWSQLP79\\DEPLUATEXT",
      "Databases": [
        {
          "Name": "ETLAudit",
          "NewName": "ETLAudit",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLAudit_ext",
          "NewName": "ETLAudit_ext",
          "Action": "BackupRestore"
        },
		{
          "Name": "ETLConfig",
          "NewName": "ETLAudit",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLConfig_ext",
          "NewName": "ETLAudit_ext",
          "Action": "BackupRestore"
        },
		{
          "Name": "ETLStaging",
          "NewName": "ETLAudit",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLStaging_ext",
          "NewName": "ETLAudit_ext",
          "Action": "BackupRestore"
        }
      ]
    }
  ]
}