{ 
  "Environment": "PreUAT",
  "TargetServer": "IMDGNDWSQLP79\\DEPLUAT",
  "Servers": 
  [
    {
      "ServerName": "IMDGNDWSQLU60",
      "Databases": [
        {
          "Name": "FIT",
          "NewName": "FIT",
          "Action": "DetachAttach"
        },
        {
          "Name": "ISDStaging",
          "NewName": "ISDStaging",
          "Action": "DetachAttach"
        },
        {
          "Name": "SBOLAP",
          "NewName": "SBOLAP",
          "Action": "DetachAttach"
        },
        {
          "Name": "Shield",
          "NewName": "Shield",
          "Action": "DetachAttach"
        }
      ]
    },
    { 
	  "ServerName": "IMDGNDWSQLU61",
      "Databases": [
        {
          "Name": "ISDData",
          "NewName": "ISDData",
          "Action": "DetachAttach"
        }
	  ]
    }
  ]
}


