{ 
  "Environment": "PreUAT",
  "TargetServer": "IMDGNDWSQLP79\\DEPLUAT",
  "Servers": [
    {
      "ServerName": "IMDGNDWSQLU60",
      "Databases": [
        {
          "Name": "BORIS",
          "NewName": "BORIS",
          "Action": "DetachAttach"
        },
        {
          "Name": "Staging",
          "NewName": "Staging",
          "Action": "DetachAttach"
        }
      ]
    }
  ]
}