{ 
  "Environment": "PreUAT",
  "TargetServer": "IMDGNDWSQLP79\\DEPLUAT",
  "Servers": [
    {
      "ServerName": "IMDGNDWSQLU60",
      "Databases": [
        {
          "Name": "Audit",
          "NewName": "Audit",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORAT",
          "NewName": "BORAT",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORE",
          "NewName": "BORE",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORIS",
          "NewName": "BORIS",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORIS_Archive",
          "NewName": "BORIS_Archive",
          "Action": "DetachAttach"
        },
        {
          "Name": "CrossJoin",
          "NewName": "CrossJoin",
          "Action": "DetachAttach"
        },
        {
          "Name": "Staging",
          "NewName": "Staging",
          "Action": "DetachAttach"
        }
      ]
    },
	    {
      "ServerName": "IMDGNDWSQLU60",
      "Databases": [
        {
          "Name": "Audit",
          "NewName": "Audit_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORAT",
          "NewName": "BORAT_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORE",
          "NewName": "BORE_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORIS",
          "NewName": "BORIS_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "BORIS_Archive",
          "NewName": "BORIS_Archive_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "CrossJoin",
          "NewName": "CrossJoin_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "Staging",
          "NewName": "Staging_DryRun",
          "Action": "DetachAttach"
        }
      ]
    },
    {
      "ServerName": "IMDGNDWSSISU66",
      "Databases": [
        {
          "Name": "ETLConfig",
          "NewName": "ETLConfig_int",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLAudit",
          "NewName": "ETLAudit_int",
          "Action": "DetachAttach"
        },
        {
          "Name": "ETLStaging",
          "NewName": "ETLStagingt_int",
          "Action": "DetachAttach"
        }
      ]
    },
    {
      "ServerName": "IMDGNDWSSISU66",
      "Databases": [
        {
          "Name": "ETLConfig",
          "NewName": "ETLConfig_int_DryRun",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLAudit",
          "NewName": "ETLAudit_int_DryRun",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLStaging",
          "NewName": "ETLStagingt_int_DryRun",
          "Action": "BackupRestore"
        }
      ]
    },
    {
      "ServerName": "IMDGNDWSSISU67",
      "Databases": [
        {
          "Name": "ETLConfig",
          "NewName": "ETLConfig_ext",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLAudit",
          "NewName": "ETLAudit_ext",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLStaging",
          "NewName": "ETLStagingt_ext",
          "Action": "BackupRestore"
        }
      ]
    },
    {
      "ServerName": "IMDGNDWSSISU67",
      "Databases": [
        {
          "Name": "ETLConfig",
          "NewName": "ETLConfig_ext_DryRun",
          "Action": "BackupRestore"
        },
        {
          "Name": "ETLAudit",
          "NewName": "ETLAudit_ext_DryRun",
          "Action": "DetachAttach"
        },
        {
          "Name": "ETLStaging",
          "NewName": "ETLStagingt_ext_DryRun",
          "Action": "DetachAttach"
        }
      ]
    }
  ]
}